@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <form id="account" method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="Input.Username">Username</label>
            <input class="form-control" asp-for="Input.Username"/>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Input.Password">Password</label>
            <input class="form-control" asp-for="Input.Password"/>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Input.RememberMe">
                <input class="form-check-input" asp-for="Input.RememberMe"/>
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
        <div class="d-grid mb-5">
            <input id="registerSubmit" type="submit" value="Login" class="btn btn-outline-primary"/>
        </div>
        <div>
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
            <p>
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
            </p>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
