html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #e5e5e5;
}

header {

}

.mod-image {
  min-height: 6.4rem;
  max-height: 6.4rem;
  min-width: 6.4rem;
  max-width: 6.4rem;
}

.mod {
  padding: 8rem;
}

.description {
  padding: 2rem;
  background-color: #ffffff;
}

.mod-summary {
  text-overflow: ellipsis;
}

.search {
  width: 40%;
}

.title {
  margin-bottom: 4rem;
}

.title-text {
  font-size: 5rem;
}

.mod-link {
  text-decoration: none;
}

.file-info {
  --bs-text-opacity: 1;
  color: #6c757d!important;
  font-style: italic;
}

.mod-author {

}

.download-count-image {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  margin-right: 5px;
}

.sort-table-header {
  text-align: center;
  width: 33%;
}

.wizard-image {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}