@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.RazorPages
@using WizardsRift.Data
@inject UserManager<ApplicationUser> UserManager
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@model X.PagedList.IPagedList<Mod>


<div class="container">
    @foreach (var mod in Model)
    {
        <div class="row mb-2">
            <partial name="ModBanner" model="mod"/>
        </div>
    }
</div>


<p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>

@if (Model.PageCount > 1)
{
    @Html.PagedListPager(
        Model,
        page => Url.Action((string?)ViewContext.RouteData.Values["username"],
            new { page }
            ),
        new PagedListRenderOptions()
        {
            LiElementClasses = new List<string> { "pager-button", "mx-1" }
        })
}