@using Microsoft.AspNetCore.Identity
@using WizardsRift.Data
@inject UserManager<ApplicationUser> UserManager

@model PagedList.IPagedList<Mod>


<div class="container">
    @foreach (var mod in Model)
    {
        <div class="row mb-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <a href="https://localhost:7103/mods/@mod.Id">
                            <img class="mod-image" src="https://localhost:7103/mods/@mod.Id/image" alt="mod thumbnail"/>
                        </a>
                    </div>
                    <div class="col">
                        <div class="d-flex align-items-center mb-1">
                            <a href="https://localhost:7103/mods/@mod.Id" class="mod-link">
                                <h3 class="flex-fill">@mod.Name</h3>
                            </a>
                        </div>
                        <div class="row text-muted">
                            <p class="mod-summary">@mod.Summary</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>